@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Urbane-Bold';
    src: url('/assets/fonts/urbane/Urbane-Bold.ttf');
}

@font-face {
    font-family: 'Urbane-ExtraLight';
    src: url('/assets/fonts/urbane/Urbane-ExtraLight.ttf');
}

@font-face {
    font-family: 'Urbane-Light';
    src: url('/assets/fonts/urbane/Urbane-Light.ttf');
}

@font-face {
    font-family: 'Urbane-Medium';
    src: url('/assets/fonts/urbane/Urbane-Medium.ttf');
}

@font-face {
    font-family: 'Urbane-Thin';
    src: url('/assets/fonts/urbane/Urbane-Thin.ttf');
}

@font-face {
    font-family: 'Urbane-Semibold';
    src: url('/assets/fonts/urbane/Urbane-DemiBold.ttf');
}

@font-face {
    font-family: 'Urbane-ExtraBold';
    src: url('/assets/fonts/urbane/Urbane-Heavy.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gold-color: #AE8D32;
    --black-color: #000;
    --white-color: #FFF;
}

/* Common css start here  */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.my-40 {
    margin-bottom: 40px !important;
    margin-top: 40px !important;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.my-30 {
    margin-bottom: 24px;
    margin-top: 24px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mt-24 {
    margin-top: 24px;
}

.my-24 {
    margin-bottom: 24px !important;
    margin-top: 24px !important;
}

.my-30 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mt-120 {
    margin-top: 120px;
}

p {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

.white-to-gold-btn {
    color: var(--black-color);
    text-align: center;
    font-family: "Zilla Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background: var(--white-color);
    border: 1px solid var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 37px;
    text-decoration: none;
    transition: all 0.5s;
    text-transform: capitalize;
    min-width: 160px;
    min-height: 40px;
    flex-shrink: 0;
}

.white-to-gold-btn:hover {
    background: var(--gold-color);
    border: 1px solid var(--gold-color);
    color: var(--white-color);
}

.black-to-gold-btn {
    color: var(--white-color);
    text-align: center;
    font-family: "Zilla Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background: var(--black-color);
    border: 1px solid var(--black-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 37px;
    text-decoration: none;
    transition: all 0.5s;
    text-transform: capitalize;
    min-width: 160px;
    min-height: 40px;
    flex-shrink: 0;
}

.black-to-gold-btn:hover {
    background: var(--gold-color);
    color: var(--black-color);
    border: 1px solid var(--gold-color);
}

.rich-text {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

.title-heading {
    font-family: "Zilla Slab";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px;
}

.sm-title-heading {
    font-family: 'Urbane-Light';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.gallery-carousel .item {
    position: relative;
    padding-top: 67%;
}

.gallery-carousel .item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.Listings-title-cta {
    position: relative;
    max-width: calc(100% - 5%);
    margin: 0 auto;
}

.listing-cta {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.Listings-title-cta span.fa {
    padding-left: 5px;
}

.listing-cta {
    color: var(--black-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: "Zilla Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.listing-cta:hover {
    color: var(--black-color);
}

.common-title-box {
    padding-top: 74px;
    padding-bottom: 56px;
}

.dark-line-separator {
    background: var(--black-color);
    margin: 0;
}

.descripotion-box {
    max-width: calc(100% - 48%);
    margin: 0 auto;
    padding: 64px 20px 50px 20px;
    text-align: center;
}

/* inventory card css start here */

.inventory-container {
    width: calc(100% - 60px);
    margin: 0 auto;
}

.inventory-card {
    width: calc(100% / 3);
    padding: 20px 28px;
}

.inventory-card a {
    color: inherit;
}

.inventory-card-img {
    position: relative;
    padding-top: 66.3%;
}

.inventory-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.inventory-card-body {}

.inventory-card-title {
    font-family: 'Urbane-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.inventory-card-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inventory-card-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inventory-card-body {
    padding: 16px 0;
}

.inventory-cond-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.inventory-cond-list .cond-list-item {
    color: var(--black-color);
    list-style: none;
    position: relative;
    padding-right: 30px;
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.cond-list-item+.cond-list-item::after {
    position: absolute;
    content: "";
    background-color: var(--black-color);
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 1px;
    height: 14px;
}

.inventory-card-bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monthly-price-box {
    color: var(--black-color);
    list-style: none;
    position: relative;
    padding-right: 0;
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.length-box {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 16px 0;
    background: var(--white-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.banner-content {
    position: absolute;
    bottom: 80px;
    left: 0;
    padding-left: 200px;
}

.banner-title {
    font-family: "Zilla Slab";
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px;
    color: var(--white-color);
    text-align: left;
}

.form-sec {
    position: relative;
}

.form-box {
    max-width: 600px;
    width: 100%;
    margin: 80px auto 100px auto;
}

.scroll-down {
    position: absolute;
    top: -130px;
    visibility: hidden;
}

.form-header {
    text-align: center;
}

/* Common css end here  */


/* desktop header css strat here */

/* header-start here */

.header-container {
    padding-right: 80px;
    padding-left: 80px;
}

.header-box {
    display: flex;
}

.logo-box {
    width: 30%;
}

.right-nav-box {
    width: 20%;
}

.centaral-nav-box {
    width: 50%;
}

.desktop-header .centaral-nav-link,
.desktop-header .left-nav-link {
    font-family: 'Urbane-Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.desktop-header .centaral-nav-link {
    padding: 7px 17px;
    color: var(--black-color);
}

.desktop-header li {
    list-style: none;
}

.grecaptcha-badge {
    display: none;
}

.desktop-header {
    background: var(--white-color);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.centaral-nav {
    height: 100%;
}

.centaral-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}

.dropdown-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 320px;
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right-nav {
    height: 100%;
}

.right-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
}

.header-brand-logos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.header-search-box {
    padding: 0 17px;
}

.header-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--black-color);
}

.header-search span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search input {
    border: none;
    outline: none;
    box-shadow: none;
    font-family: 'Urbane-Light';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.header-search input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.location-dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.header-location-box {
    cursor: pointer;
}


.location-dropdown h6 {
    margin-bottom: 0;
}

.location-dropdown span.fa {
    font-size: 23px;
}

.header-resources-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header-resources-box a {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--black-color);
}

.header-resources-box svg {
    cursor: pointer;
}

/* mega menus start here */

.mega-menu-box {
    background: var(--black-color);
    padding: 80px 15px;
    max-width: calc(100% - 35%);
    margin: 0 auto;
    display: none;
}

.mega-menu-col-1 h6 {
    color: rgba(255, 255, 255, 0.40);
    font-family: Oswald-Bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.mega-menu-col-1 ul li>a {
    color: #FFF;
    font-family: "Acumin-light";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-bottom: 20px;
}

.mega-boats-box {
    display: flex;
    /* justify-content: space-between; */
}

.mega-menu-container {
    display: flex;
}

.mega-menu-col-1 {
    width: 23%;
}

.mega-menu-col-2 {
    width: 77%;
}

.mega-menu-col-2 h5 {
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Oswald-Bold';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 7.5px;
}

.mega-boats-col {
    width: calc(100% / 3);
    padding: 0 7.5px;
}

.menu-card-img {
    position: relative;
    padding-top: 50%;
}

.menu-card-logo {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 120px;
    margin: 0 auto;
}

.menu-card-logo>.menu-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-card-img>.menu-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-card-title h6 {
    color: #FFF;
    font-family: Oswald-Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

/* dropdown start here */
.toggle-dropdown {
    position: relative;
}

.sm-dropdown {
    position: absolute;
    top: 100px;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    min-width: 300px;
    background: #000;
    height: auto !important;
    padding: 10px 55px 38px 40px;
    display: none !important;
    z-index: 100;
}

.sm-dropdown li a {
    color: #FFF;
    font-family: Oswald-semibold;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.doss-dropdown.show-dropdown {
    display: block !important;
}


/* mobile header start here */

.mobile-header {
    display: none;
}

.mobile-header-list {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 200;
    width: 100%;
    background: white;
}

.mobile-header-list.mobile-menu-show {
    display: none !important;
}

.mobile-header-list ul {
    padding: 0;
}

.mobile-header-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;
    width: 100%;
    height: 90px;
    background: var(--black-color);
    z-index: 500;
}

.mobile-header-img {
    max-height: 90px;
    height: 100%;
}

.mobile-header-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.custom-toggle-icon span.fa {
    font-size: 30px;
    background-color: #241C1C;
    color: white;
}

.custom-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Oswald-SemiBold';
    text-transform: uppercase;
}

.custom-nav-link:hover {
    text-decoration: none;
    color: black;
}

.mobile-header-list ul li {
    list-style: none;
    border-bottom: 2px solid lightgray;
}

.submenu-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Oswald-SemiBold';
}

.content-menu.mobile-menu-show {
    display: block;
}

.content-menu {
    display: none;
}

.nav-search {
    border: none !important;
}

.nav-search:focus {
    box-shadow: none;
    outline: none;
}

.mobile-header-number {
    text-decoration: none;
    color: #fff;
}

.mobile-header-number:hover {
    text-decoration: none;
    color: #fff;
}

/* mobile header end here */


/* footer css start here */

/* footer start here */
footer {
    background: var(--black-color);
}

.footer-container {
    width: calc(100% - 20%);
    margin: 0 auto;
    padding: 80px 0;
}

.footer-main-box {
    display: flex;
}

.footer-main-col-1 {
    width: 30%;
}

.footer-main-col-2 {
    width: 70%;
}

.footer-logo-box {
    text-align: center;
    max-width: 320px;
}

.footer-logo-box img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.footer-address-box p {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--white-color);
    text-align: left;
}

.footer-address-box p a {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--white-color);
    text-align: left;
}

.mutlti-column-box {
    display: flex;
}

.mutlti-column-box li {
    list-style: none;
    line-height: 35px;
}

.mutlti-column-1 {
    width: calc(100% / 3);
    padding: 0 10px 0 0;
}

.mutlti-column-1 h6 {
    color: var(--white-color);
    font-family: 'Urbane-Semibold';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.mutlti-column-1 ul li a {
    color: var(--white-color);
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.7;
}

.footer-bottom ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom ul li {
    list-style: none;
    color: #1E1E1E;
    text-align: center;
    font-family: 'acumin-light';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.42px;
    padding: 10px 15px;
}

.footer-bottom ul li a {
    color: #1E1E1E;
    text-align: center;
    font-family: 'acumin-light';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.42px;
    text-decoration: underline;
}

.footer-bottom {
    background: #F3F3F3;
}

.social-icons-box {
    text-align: left;
}

.social-icons-box ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.social-icons-box ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--white-color);
}

.social-icons-box ul li span.fa {
    color: var(--white-color);
}

/* hom page css start here */

.home-banner {
    position: relative;
    padding-top: 50%;
    min-height: 300px;
}

.home-banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.home-banner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.home-banner-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.home-banner-content {
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    padding-left: 200px;
}

.home-banner-title {
    font-family: "Zilla Slab";
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px;
    color: var(--white-color);
    text-align: left;
}

.featured-rounded-box {
    display: flex;
    gap: 32px;
    display: flex;
    gap: 32px;
    padding: 64px 0 0 64px;
    margin-right: -50px;
}

.featured-sec {
    overflow: hidden;
}

.featured-rounded-card {
    position: relative;
    width: 50%;
}

.featured-rounded-card-img {
    position: relative;
    padding-top: 57%
}

.featured-rounded-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    filter: brightness(0.5);
}

.img-cutt-off {
    object-position: 50% 50%;
}

.card-badge {
    position: absolute;
    top: 40px;
    left: 48px;
    color: var(--white-color);
    font-family: 'Urbane-Semibold';
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.featured-rounded-card-content {
    position: absolute;
    bottom: 48px;
    left: 0;
    width: 100%;
    text-align: left;
    padding-left: 48px;
}

.rounded-card-title {
    font-family: "Zilla Slab";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px;
    color: var(--white-color);
}


/* brand sldier start here*/
.sldier-container {
    width: calc(100% - 10%);
    margin: 0 auto;
    padding: 120px 15px;
}

.slider-box {
    display: flex;
}

.sldier-col {
    width: 50%;
}

.slider-img {
    position: relative;
    padding-top: 45%;
    min-height: 480px;
}

.slider-img .main-brand-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.slider-img .main-brand-logo {
    position: absolute;
    bottom: 40px;
    left: 40px;
    max-width: 200px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}

.slider-img .main-brand-logo .brand-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 68px;
}

.featured-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    max-width: 620px;
    margin: 0 auto;
    padding-top: 68px;
}

.subtitle {
    font-family: 'Urbane-Semibold';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var(--gold-color);

}

.slider-navigator-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slide-arrow-box {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.slide-arrow {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

/* arrival sldier css start here */
.featured-slider-sec {
    padding-left: 64px;
    padding-right: 64px;
}

.featured-slider .item .featured-slider-img {
    position: relative;
    padding-top: 65%;
}

.featured-slider .item a {
    color: inherit;
}

.featured-slider .item a:hover {
    color: inherit;
}

.featured-slider .item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.featured-slider-content {
    padding-top: 16px;
    display: flex;
}

.featured-slider-content-col-1 {
    width: 70%;
}

.featured-slider-content-col-2 {
    width: 30%;
}

.featured-boat-title {
    font-family: 'Urbane-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.featured-boat-price {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.specList li {
    font-family: 'Urbane-Light';
    font-size: 16px;
    margin-right: 30px;
    position: relative;
    list-style: none;
}

.specList {
    justify-content: flex-start !important;
    display: flex
}

.specList li+li::before {
    position: absolute;
    content: "";
    left: -15px;
    transform: translateY(-50%);
    top: 50%;
    height: 15px;
    background: #575757;
    width: 1px;
}

.central-banner {
    padding: 120px 0;
}

.central-banner-img {
    position: relative;
    padding-top: 43%;
}

.central-banner-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.central-banner-parent {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 100%;
    margin: 0 auto;
}

.central-banner-content {
    width: 60%;
    text-align: center;
    border-radius: 16px;
    opacity: 0.8;
    margin: 0 auto;
    padding: 50px 60px;
    background: var(--black-color);
}

.home-container-fluid {
    width: calc(100% - 7%);
    margin: 0 auto;
}

.home-container {
    width: calc(100% - 19%);
    margin: 0 auto;
}

.article-fetured-box {
    display: flex;
    gap: 40px;
}

.article-fetured-col {
    width: 50%;
}

.article-fetured-card-img {
    position: relative;
    padding-top: 53%;
}

.article-fetured-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.article-overlay-content {
    position: absolute;
    bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-overlay-content h6 {
    font-family: 'Urbane-Light';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    color: var(--white-color);
}

.article-overlay-content .arrow-link {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.article-overlay-content .arrow-link span.fa {
    font-size: 22px;
}

.article-fetured-content {
    padding: 12px 0;
}

.flip-horizontal {
    transform: scaleX(-1);
}

.financing-fetured-box {
    display: flex;
    gap: 56px;
    margin-bottom: 120px;
}

.financing-fetured-col {
    width: calc(100% / 3);
}

.financing-fetured-card-img {
    position: relative;
    padding-top: 53%;
}

.financing-fetured-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.financing-overlay-content {
    position: absolute;
    bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.financing-overlay-content h6 {
    font-family: 'Urbane-Light';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    color: var(--white-color);
}

.financing-overlay-content .arrow-link {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.financing-overlay-content .arrow-link span.fa {
    font-size: 22px;
}

.financing-fetured-content {
    padding: 12px 0;
}

.financing-card-title {
    font-family: 'Urbane-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.newsletter-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 15px;
    text-align: center;
}

.newsletter-input {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    max-width: 400px;
    width: 100%;
    padding: 12px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--black-color);
}

.newsletter-input:focus {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-bottom: 1px solid var(--black-color);
}

.reviews-sec {
    padding: 0px 15px 120px 15px;
}

.reviews-slider-box {
    display: flex;
    width: calc(100% - 25%);
    margin: 0 auto;
}

.reviews-col-1,
.reviews-col-3 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-col-2 {
    width: 60%;
}

.reviews-content {
    text-align: center;
}

.dark-bar {
    width: 80px;
    height: 1px;
    background: #000;
    margin: 24px auto;
}

.auther-name {
    margin-bottom: 80px;
    font-family: 'Urbane-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.qoutation-icon {
    margin: 40px auto;
    width: 40px;
    height: 40px;
}

.qoutation-icon img {
    width: 100%;
    height: 100%;
}

.reviews-nav-link {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--black-color);
}

.singleton-diffrence-box {
    max-width: calc(100% - 30%);
    margin: 0 auto;
    padding-top: 120px;
}

.singleton-content h6 {
    font-family: 'Urbane-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.singleton-diffrence-content-box {
    display: flex;
    margin-top: 65px;
    flex-wrap: wrap;
}

.singleton-diffrence-col {
    width: calc(100% / 2);
    padding: 40px 70px;
}

.singleton-inner-box {
    display: flex;
}

.singleton-inner-box {
    display: flex;
}

.singleton-inner-col-1 {
    width: 65px;
}

.singleton-inner-col-2 {
    width: calc(100% - 65px);
}

.singleton-icon {
    width: 40px;
    height: 37px;
    flex-shrink: 0;
}

.singleton-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* service page css starts here */

.commonHeaderSection {
    position: relative;
    padding-top: 31%;
}

.commonHeaderSection .commonHeaderMedia {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commonHeaderContent {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.mainHeading {
    color: var(--white-color);
    font-family: "Zilla Slab";
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px;
}

.commonHeaderBtnWrap {
    margin-top: 40px;
}

.serviceHeroSection {
    margin: 72px 0;
}

.serviceHeroImageWrap {
    position: relative;
    padding-top: 57%;
    max-width: 840px;
    border-radius: 16px;
    overflow: hidden;
}

.serviceHeroImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.awardWinningTextWrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awardWinningTextInnerWrap {
    max-width: 620px;
}

.colorTag {
    color: var(--gold-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.primaryBlackHeading {
    color: var(--black-color);
    font-family: "Zilla Slab";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px;
}

.awardWiningHeadingWrap {
    margin: 24px 0 40px 0;
}

.boldBlackPara {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.regularBlackPara {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.underlineParaText {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.btnWrap {
    margin-top: 40px;
}

.popularHeadingWrap {
    margin: 24px 0 56px 0;
}

.topServicesCardWrap {
    padding: 0 28px;
}

.topServicesCardImageWrap {
    position: relative;
    padding-top: 75%;
    border-radius: 16px;
    overflow: hidden;
}

.topServicesCardImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topServicesTitleWrap {
    position: absolute;
    left: 5%;
    bottom: 2%;
}

.topServicesTitle {
    color: var(--white-color);
    font-family: Urbane;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.topServiceTextWrap {
    margin-top: 16px;
}

.topServicesBoldText {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.topServicesParaWrap {
    margin-top: 12px;
}

.regularBlackPara {
    color: var(--Black, #000);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.tabsWrapper {
    margin: 40px 0px;
}

.infoTab {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    margin-bottom: 20px;
    background: #FFF;
    cursor: pointer;
}

.infoTabName h4 {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.tabsContent {
    padding: 40px 40px 79px 40px;
    border-radius: 16px;
    border: 1px solid var(--black-color);
    background: var(--white-color);
}

.tabsDetailsHeader {
    margin-bottom: 30px;
    margin-top: 40px;
}

.tabsDetails {
    max-width: 900px;
    margin: 0 auto;
}

.tabsDetailsImg {
    margin-top: 40px;
}

.tabsContentImgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tabsContentLogoContainer {
    max-width: 200px;
}

.tabsContentLogoContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.tabsDetails {
    display: none;
}

.tabsDetailsContent ul {
    padding-left: 30px;
}

.tabsNote {
    margin-top: 40px;
}

.tabsNote p {
    color: #231F20;
    font-family: "Myriad Pro Regular";
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
}

.tabsSec {
    margin: 60px auto;
    max-width: 1500px;
}

.tabsDetailImageWrap {
    position: relative;
    padding-top: 44%;
    margin-top: 20px;
    border-radius: 16px;
    overflow: hidden;
}

.tabsDetailImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.smallHeading {
    color: var(--black-color0);
    font-family: Urbane;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.secondaryHeading {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.partsDeptImageWrap {
    border-radius: 16px;
    max-width: 480px;
    overflow: hidden;
}

.partsDeptImageWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paraWrapper {
    margin: 40px 0;
}

.partsDeptTextWrap {
    height: 100%;
    display: flex;
    align-items: center;
}

.partsDeptTextInnerWrap {
    max-width: 900px;
}

/* service page css ends here */

/* brand page css start here */

.common-header {
    position: relative;
    padding-top: 31%;
}

.common-header .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-descripotion {
    max-width: calc(100% - 48%);
    margin: 0 auto;
    padding: 64px 20px 72px 20px;
    text-align: center;
}

.brand-logo {
    max-width: 300px;
    height: 100%;
    margin: 0 auto 64px auto;
}

.brand-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.faq-container {
    width: calc(100% - 10%);
    margin: 0 auto;
}

.faq-box {
    display: flex;
}

.faq-col {
    width: 50%;
}

.faq-content {
    max-width: 65%;
    width: 100%;
    margin: 0 auto;
}

.faq-accordion {
    width: 70%;
    margin: auto 0 0 0;
}

.custom-accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid #3a3d47;
    cursor: pointer;
}

.accordion-title {
    font-family: 'Urbane-Semibold';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.custom-accordion-header span {
    font-size: 18px;
    color: var(--black-color);
}

.custom-accordion-body {
    padding: 20px 0 40px 0;
    display: none;
}

.custom-accordion-body.content-show {
    display: block !important;
}

/* sell trade page css starts here */
.sellTradeHeroSection {
    margin: 64px 0;
}

.sellTradeStepCard {
    border-radius: 16px;
    border: 1px solid var(--black-color);
    padding: 34px 48px 50px 34px;
    margin: 0 28px;
    height: 100%;
}

.sellTradeStepNumber {
    color: var(--gold-color);
    font-family: Urbane;
    font-size: 120px;
    font-style: normal;
    font-weight: 100;
    line-height: 100px;
}

.sellTradeCardTitle {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.whySellWithUsSection {
    margin: 120px 0;
}

.whySellSectionHeaderWrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whySellSectionHeaderInnerWrap {
    max-width: 353px;
}

.whySellWithUsItem {
    margin-bottom: 68px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.whySellTextWrap {
    max-width: 200px;
}

.whySellText {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.promiseSection {
    margin-bottom: 60px;
}

.promiseHeadingWrap {
    margin-bottom: 64px;
}

.promiseImageWrap {
    position: relative;
    padding-top: 63%;
    overflow: hidden;
    border-radius: 16px;
    margin: 0 20px;
}

.promiseImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promiseTextWrap {
    margin: 0 20px;
}

.promiseTextWrap {
    height: 100%;
    display: flex;
    align-items: center;
}

.promiseCardTitle {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.promiseTextInnerWrap {
    max-width: 400px;
}

/* sell trade page css ends here */


/* reviews page css start here */

.reviews-container {
    width: calc(100% - 80px);
    margin: 0 auto;
}

.reviews-box {
    display: flex;
    flex-wrap: wrap;
}

.reviews-card-box {
    padding: 20px;
    width: calc(100% / 3);
}

.reviews-card {
    border-radius: 16px;
    background: #FAFAFA;
    padding: 48px 40px;
    display: flex;
}

.reviews-card-content {
    width: calc(100% - 40px);
    padding-left: 20px;
}

.user-name {
    font-family: 'Urbane-Semibold';
}

/* contact page css starts here */
.contactHeaderSection {
    position: relative;
    padding-top: 41%;
}

.contactHeaderSection img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contactHeaderContent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5% 0;
}

.contactHeaderTag {
    color: var(--white-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.contactHeaderHeading {
    color: var(--white-color);
    font-family: "Zilla Slab";
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px;
}

.whiteBoldPara {
    color: var(--white-color);
    font-family: Urbane;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.regularWhitePara {
    color: var(--white-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.contactHeaderTextSection {
    max-width: 680px;
}

.contactHeaderFormSection {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 60px 80px;
}

.contactAddressSection {
    margin: 64px 0 120px 0;
}

.contactLocationHeading {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.contactLocationsHeadingWrap {
    margin-bottom: 80px;
}

.contactLocationCard {
    padding: 0 28px;
    margin-bottom: 40px;
}

.contactLocationImageWrap {
    position: relative;
    padding-top: 50%;
    overflow: hidden;
    border-radius: 16px;
}

.contactLocationImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contactLocationsHeadingWrap {
    padding-left: 40px;
}

.contactLocationTextWrap {
    margin-top: 24px;
}

.contactLocationTitle {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.contactLocationPara {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.contactLocationPhone {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.contactLocationPhone:hover {
    color: var(--black-color);
}

.serviceHoursHeading {
    color: var(--Black, #000);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

/* contact page css ends here */

/* parts page css start here */

.glimpse-content h6 {
    font-family: 'Urbane-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.glimpse-content {
    margin-top: 24px
}

.glimpse-card {
    width: calc(100% / 4);
}

.glimpse-sec {
    display: flex;
    padding: 90px 76px 80px 76px;
}

.black-promotional-banner p span {
    color: var(--gold-color);
    font-family: 'Urbane-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.black-promotional-banner p {
    color: var(--white-color);
    font-family: 'Urbane-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.black-promotional-banner {
    max-width: 960px;
    margin: 0 auto;
    background: var(--black-color);
    padding: 28px 50px;
}

.parts-container-fluid {
    width: calc(100% - 9%);
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

.parts-featured-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-right: 120px;
    padding-top: 68px
}

.parts-featured-logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 13px;
    margin-top: 24px;
}

/* strorage page css starts here */
.storageHeroSection {
    margin: 80px 0;
}

.storageHerTextWrap {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.dockageFacilityCard {
    padding: 0 20px;
}

.dockingFacilityImageWrap {
    position: relative;
    padding-top: 57%;
    border-radius: 16px;
    overflow: hidden;
}

.dockingFacilityImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dockingFacilityTextWrap {
    margin-top: 16px;
}

.ourMissionTextWrap {
    max-width: 440px;
}

.ourMissionCard {
    display: flex;
    gap: 24px;
}

.ourMissionCardTitle {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.headingWrap {
    margin-bottom: 40px;
}

.financingFormSection {
    background-image: url("/assets/images/financing/financing-form.webp");
    padding: 80px 0;
    min-height: 600px;
}

.financingForm {
    margin: 0 auto;
    max-width: 680px;
    border-radius: 16px;
    background-color: #fff;
    padding: 48px 80px;
}

/* strorage page css ends here */

/* location template page css starts here */
.locationHeaderSection {
    position: relative;
    padding-top: 41%;
}

.locationHeaderSection .locationHeaderMedia {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.locationHeaderContent {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.locationHeaderBtnWrap {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}

.locationGalleryImageWrap {
    position: relative;
    padding-top: 66%;
}

.locationGalleryImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.servicesLocation {
    margin: 64px 0;
}

.serviceLocationCard {
    padding: 0 20px;
}

.serviceLocationImageWrap {
    position: relative;
    padding-top: 57%;
    border-radius: 16px;
    overflow: hidden;
}

.serviceLocationImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serviceLocationTitle {
    color: var(--white-color);
    font-family: Urbane;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.serviceLocationContent {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
}

.serviceLocationTextWrap {
    margin-top: 12px;
}

.standOutSection {
    margin: 120px 0;
}

.standOutImageWrap {
    max-width: 80px;
}

.standOutImageWrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.standOutTitle {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.locationMapWrapper {
    min-height: 600px;
    border-radius: 16px;
    overflow: hidden;
}

.locationMapWrapper iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 600px;
}

.locationMapTextWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.locationMapInnerWrap {
    max-width: 620px;
}

.formSection {
    padding: 80px 0;
}

/* location template page css ends here */

/* blog listing page css starts here */
.blogHeaderSection {
    position: relative;
    padding-top: 23%;
}

.blogHeaderSection img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogHeaderContent {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 800px;
}

.blogListingSection {
    margin-top: 88px;
}

.topicListSearchWrap {
    display: flex;
    align-items: end;
    gap: 16px;
    border: 1px solid #000;
    padding: 13px 16px;
    background-color: #fff;
}

.blogListingSearch {
    border: none;
    outline: none;
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.topicListContainer {
    margin-top: 40px;
}

.checkboxGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px 16px;
    font-family: Urbane;
}

.checkboxItem {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 15px;
}

.checkboxItem input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: var(--white);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.checkboxItem input:checked {
    background-color: var(--gold-color);
}

.checkboxItem input:checked::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.blogListingImageWrap {
    position: relative;
    padding-top: 50%;
    border-radius: 16px;
    overflow: hidden;
}

.blogListingImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogListingCard {
    padding: 0 20px;
    margin-bottom: 40px;
}

.blogListingCardTextWrap {
    margin-top: 16px;
}

.blogListingCardTitle {
    color: var(--Black, #000);
    font-family: Urbane;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.blogListingCardPara {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.blogDetailBtn {
    color: var(--gold-color);
    font-family: "Zilla Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}


/* blog listing page css ends here */



/* proshop page css start here */

.proshop-header {
    padding-top: 16px;
    padding-bottom: 64px;
}

.proshop-fetured-box {
    display: flex;
    gap: 56px;
    margin-bottom: 80px;
}

.proshop-location-container {
    width: calc(100% - 9%);
    margin: 0 auto;
}

.proshop-location-box {
    display: flex;
    gap: 50px;
}

.proshop-location-box-col {
    width: calc(100% / 2);
}

.location-rich-text img {
    width: 100%;
    max-width: 15px;
    height: 100%;
    max-height: 16px;
    object-fit: contain;
    margin-right: 10px;
}

.proshop-location-card {
    display: flex;
    gap: 40px;
}

.location-card-col-1 {
    width: 40%;
}

.location-card-col-2 {
    width: 60%;
}

.location-card-img {
    position: relative;
    padding-top: 70%;
}

.location-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.location-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}

.location-card-content h6 {
    font-family: 'Urbane-Medium';
}

.outBoardsMotorsLogoWrap {
    position: absolute;
    right: 5%;
    bottom: 5%;
    max-width: 280px;
    z-index: 3;
}

.outBoardsMotorsLogoWrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.factoryCertifiedSection {
    max-width: 1120px;
    margin: 0 auto;
    border-top: 1px solid var(--black-color);
    border-left: 1px solid var(--black-color);
    border-right: 1px solid var(--black-color);
    padding: 40px 50px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 64px;
}

.factoryCertifiedImageWrap {
    flex: 0 0 80px;
}

.factoryCertifiedParaWrap {
    max-width: 900px;
}

.outboardMotorsSection {
    padding: 64px 0;
}

.motorsImageWrap {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    padding-top: 120%;
    border: 1px solid #000;
}

.motorsImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.motorTextWrap {
    margin-top: 16px;
}

.motorsCardTitle {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.location-card-content p {
    font-family: 'Urbane-Light';
}

.motorCardPrice {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-decoration-line: underline;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.location-card-content p a {
    color: var(--black-color);
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-decoration-line: underline;
}

.motorsCard {
    padding: 0 28px;
    margin-bottom: 40px;
}

.ourExpertTeam {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

/* repower page css ends here */

/* staff page css starts here */
.staffSection {
    margin: 64px 0;
}

.staffCard {
    padding: 0 20px;
}

.staffImageWrap {
    position: relative;
    padding-top: 130%;
    border-radius: 16px;
    overflow: hidden;
}

.staffImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.staffTextWrap {
    margin-top: 24px;
}

.staffName {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.staffPosition {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.staffCardSeparator {
    margin: 24px 0 17px 0;
    background-color: #000;
    height: 1px;
}

.staffPhoneNumber {
    color: var(--black-color);
    font-family: Urbane;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.staffPhoneNumber:hover{
    color: var(--black-color);
}

.staffPara{
    display: flex;
    align-items: center;
    gap: 12px;
}

/* staff page css ends here */